data/*
PAD-UFES-20
src/results/*
mlruns
best_model.pt
multimodal_model_architecture.png
src/models/__pycache__/*
src/utils/__pycache__/*
src/results
src/src/results/preprocess_data/label_encoder_isic2019.pickle
src/src/results/preprocess_data/ohe_isic2019.pickle
src/src/results/preprocess_data/scaler_isic2019.pickle
Heatmaps-frozen-weights-missing-metadata-with-age.png
Heatmaps-frozen-weights-missing-metadata-with-bleed.png
Heatmaps-frozen-weights-missing-metadata-with-changed.png
Heatmaps-frozen-weights-missing-metadata-with-grew.png
Heatmaps-frozen-weights-missing-metadata-with-elevation.png
Heatmaps-frozen-weights-missing-metadata.png
Heatmaps-frozen-weights.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-age.png
Heatmaps-unfrozen-weights-missing-metadata-with-bleed.png
Heatmaps-unfrozen-weights-missing-metadata-with-bleedpng
Heatmaps-unfrozen-weights-missing-metadata-with-changed.png
Heatmaps-unfrozen-weights-missing-metadata-with-elevation.png
Heatmaps-unfrozen-weights-missing-metadata-with-grew.png
Heatmaps-unfrozen-weights-missing-metadata.png
Heatmaps-unfrozen-weights.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-bleed.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-changed.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-grew.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-elevation.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata.png
Heatmaps-unfrozen-last-layer-weights.png
Heatmaps-unfrozen-weights-missing-metadata-with-age.png
Heatmaps-unfrozen-weights.gif
Heatmaps-frozen-weights.gif
Heatmaps-unfrozen-last-layer-weights.gif
