data/*
PAD-UFES-20
src/results/*
mlruns
best_model.pt
multimodal_model_architecture.png
src/models/__pycache__/*
src/utils/__pycache__/*
src/results
src/src/results/preprocess_data/label_encoder_isic2019.pickle
src/src/results/preprocess_data/ohe_isic2019.pickle
src/src/results/preprocess_data/scaler_isic2019.pickle
Heatmaps-frozen-weights-missing-metadata-with-age.png
Heatmaps-frozen-weights-missing-metadata-with-bleed.png
Heatmaps-frozen-weights-missing-metadata-with-changed.png
Heatmaps-frozen-weights-missing-metadata-with-grew.png
Heatmaps-frozen-weights-missing-metadata-with-elevation.png
Heatmaps-frozen-weights-missing-metadata.png
Heatmaps-frozen-weights.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-age.png
Heatmaps-unfrozen-weights-missing-metadata-with-bleed.png
Heatmaps-unfrozen-weights-missing-metadata-with-bleedpng
Heatmaps-unfrozen-weights-missing-metadata-with-changed.png
Heatmaps-unfrozen-weights-missing-metadata-with-elevation.png
Heatmaps-unfrozen-weights-missing-metadata-with-grew.png
Heatmaps-unfrozen-weights-missing-metadata.png
Heatmaps-unfrozen-weights.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-bleed.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-changed.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-grew.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata-with-elevation.png
Heatmaps-unfrozen-last-layer-weights-missing-metadata.png
Heatmaps-unfrozen-last-layer-weights.png
Heatmaps-unfrozen-weights-missing-metadata-with-age.png
Heatmaps-unfrozen-weights.gif
Heatmaps-frozen-weights.gif
Heatmaps-unfrozen-last-layer-weights.gif
heatmaps
.gitignore
teste_CLINICAL
processed_data_one_hot_CLINICAL

/src/tests/results
src/tests/resultsstatistics_tests_results.csv
src/src
/home/wyctor/PROJETOS/multimodal-model-skin-lesion-classifier/src/tests
src/tests/__pycache__/stats.cpython-312.pyc
src/tests/results_statistics_tests_results.csv
conf/.env
src/__pycache__
src/scripts/benchmark/models/__pycache__
src/scripts/benchmark/utils/__pycache__
gradcam_PAD-UFES-20.png
src/scripts/aggreation/results/PAD-20/concat/cv-results.csv
src/scripts/aggreation/results/PAD-20/lighterm/model_metrics.csv
src/scripts/aggreation/results/PAD-20/metablock/cv-results.csv
src/scripts/aggreation/results/PAD-20/metanet/cv-results.csv
src/scripts/aggreation/results/PAD-20/no-metadata/cv-results.csv
src/scripts/aggreation/results_statistics_tests_results.csv
src/scripts/aggreation/__pycache__/stats.cpython-310.pyc
src/scripts/aggreation/__pycache__/stats.cpython-312.pyc
bacc_all_common_sizes_grouped.png
bacc_plots/bacc_plot_common_size_16.png
bacc_plots/bacc_plot_common_size_32.png
bacc_plots/bacc_plot_common_size_64.png
bacc_plots/bacc_plot_common_size_128.png
bacc_plots/bacc_plot_common_size_256.png
bacc_plots/bacc_plot_common_size_512.png